body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* MAIN-PAGE HEADER */
h1 {
  margin-bottom: 30px;
  text-align: center;
}

/* SUB-PAGE HEADER */
h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* MENU PAGE */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-button {
    margin: 8px 0;
    font-size: 18px;
}

/* EXERCISE PAGE */
.exercise-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EXERCISE TITLE */
.back-button {
  font-size: 15px;
  margin: 8px;
  text-align: center;
}

/* REPS COUNTER */
span {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

/* TIMER FOR DURATION */
.timer-display {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}